{%- comment -%}
Available license types:

- "CC0"
- "Public Domain"
- "CC BY"
- "CC BY-SA"
- "CC BY-ND"
- "CC BY-NC"
- "CC BY-NC-SA"
- "CC BY-NC-ND"

{%- endcomment -%}

{%- if page.license == "CC0" -%}
	{%- assign license-name = "Creative Commons Zero" -%}
	{%- assign license-url = "http://creativecommons.org/publicdomain/zero/1.0/" -%}
{%- elsif page.license == "Public Domain" -%}
	{%- assign license-name = "Public Domain" -%}
	{%- assign license-url = "http://creativecommons.org/publicdomain/mark/1.0/" -%}
{%- elsif page.license == "CC BY" -%}
	{%- assign license-name = "Creative Commons Attribution 4.0 International License" -%}
	{%- assign license-url = "https://creativecommons.org/licenses/by/4.0" -%}
{%- elsif page.license == "CC BY-SA" -%}
	{%- assign license-name = "Creative Commons Attribution-ShareAlike 4.0 International License" -%}
	{%- assign license-url = "https://creativecommons.org/licenses/by-sa/4.0" -%}
{%- elsif page.license == "CC BY-ND" -%}
	{%- assign license-name = "Creative Commons Attribution-NoDerivatives 4.0 International License" -%}
	{%- assign license-url = "https://creativecommons.org/licenses/by-nd/4.0" -%}
{%- elsif page.license == "CC BY-NC" -%}
	{%- assign license-name = "Creative Commons Attribution-NonCommercial 4.0 International License" -%}
	{%- assign license-url = "https://creativecommons.org/licenses/by-nc/4.0" -%}
{%- elsif page.license == "CC BY-NC-SA" -%}
	{%- assign license-name = "Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License" -%}
	{%- assign license-url = "https://creativecommons.org/licenses/by-nc-sa/4.0" -%}
{%- elsif page.license == "CC BY-NC-ND" -%}
	{%- assign license-name = "Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License" -%}
	{%- assign license-url = "https://creativecommons.org/licenses/by-nc-nd/4.0" -%}
{%- endif -%}

<div class="license-display" xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="https://creativecommons.org/ns#">
	<p{% if page.license == "CC0" %} xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#"{% endif %}>
		<a rel="license" href="{{ license-url }}">
			{%- if page.license contains "CC " -%}
			<img alt="Creative Commons" src='data:image/svg+xml;utf8,{% include license-icons/cc/cc.svg %}' />
			{%- endif -%}
			
			{%- if page.license contains "0" -%}
			<img alt="Creative Commons Zero" src='data:image/svg+xml;utf8,{% include license-icons/cc/zero.svg %}' />
			{%- endif -%}
			
			{%- if page.license contains "Public Domain" -%}
			<img alt="Public Domain" src='data:image/svg+xml;utf8,{% include license-icons/cc/pd.svg %}' />
			{%- endif -%}
			
			{%- if page.license contains "BY" -%}
			<img alt="Attribution" src='data:image/svg+xml;utf8,{% include license-icons/cc/by.svg %}' />
			{%- endif -%}
			
			{%- if page.license contains "NC" -%}
			<img alt="Non-Commercial" src='data:image/svg+xml;utf8,{% include license-icons/cc/nc.svg %}' />
			{%- endif -%}
			
			{%- if page.license contains "SA" -%}
			<img alt="Share Alike" src='data:image/svg+xml;utf8,{% include license-icons/cc/sa.svg %}' />
			{%- endif -%}
			
			{%- if page.license contains "ND" -%}
			<img alt="No Derivatives" src='data:image/svg+xml;utf8,{% include license-icons/cc/nd.svg %}' />
			{%- endif -%}
		</a><br />
		{%- if page.license == "CC0" -%}
			To the extent possible under law, <a rel="dct:publisher" href="{{ site.url }}{{ page.url }}"><span property="dct:title">{{ page.author }}</span></a> has waived all copyright and related or neighboring rights to <span property="dct:title">{{ page.title }}</span>.
		{%- elsif page.license == "Public Domain" -%}
			This work (<span property="dct:title">{{ page.title }}</span> by <a href="{{ site.url }}{{ page.url }}" rel="dct:creator"><span property="dct:title">{{ page.author }}</span></a>), identified by <a href="{{ site.url }}{{ page.url }}" rel="dct:publisher"><span property="dct:title">{{ page.author }}</span></a>, is free of known copyright restrictions.
		{%- else -%}
			<a property="dct:title" href="{{ site.url }}{{ page.url }}" rel="cc:attributionURL">{{ page.title }}</a>
			{% if page.author %} by <span property="cc:attributionName">{{ page.author }}</span>{% endif %}
			 is licensed under a <a rel="license" href="{{ license-url }}">{{ license-name }}</a>.
		{%- endif -%}
	</p>
	
	{%- if page.remixed-from -%}
	<p>
		Remixed from:
		<ul>
			{% for source in page.remixed-from %}
			<li>
				<a href="{{ source.url }}" rel="dct:source"><span property="dct:title">{{ source.title }}</span></a> by <span>{{ source.author }}</span>
			</li>
			{% endfor %}
		</ul>
	</p>
	{%- endif -%}
</div>