$light-mode-link-color: rgb(153, 136, 119);
$light-mode-link-color-visited: rgb(79, 79, 47);

$dark-mode-link-color: rgb(162, 174, 186);
$dark-mode-link-color-visited: rgb(112, 128, 144);

:root {
	color-scheme: light dark;
	
	/* colors for light mode */
	--link-color-unvisited: #{$light-mode-link-color};
	--link-color-visited: #{$light-mode-link-color-visited};
}

@media (prefers-color-scheme: dark) {
	:root {
		/* colors for dark mode */
		--link-color-unvisited: #{$dark-mode-link-color};
		--link-color-visited: #{$dark-mode-link-color-visited};
	}
}

a:link {
	color: var(--link-color-unvisited);
}

a:visited {
	color: var(--link-color-visited);
}

.site-header .site-title {
	text-decoration: none;
	color: var(--link-color-unvisited);
}