/*
	Limit an element's height to fit on the screen, within the device's safe area insets (if applicable).
	
	Arguments:
		- $vertical-padding: the minimum amount of extra space that should be left around the element (only applied if it's greater than the top and bottom safe area insets combined, or if there are no safe area insets)
*/
@mixin fit-vertically-to-screen($vertical-padding: 0px) {
	max-height: calc(100vh - #{$vertical-padding});
	
	@supports(max-height: max(0px)) {
		max-height: calc(100vh - max(#{$vertical-padding}, (env(safe-area-inset-top) + env(safe-area-inset-bottom))));
	}
}

img {
	max-width: 100%;
	
	&:not([class]) {
		@include fit-vertically-to-screen(4.5rem);
	}
	
}

body {
	margin-left: 1ch;
	margin-right: 1ch;
}

.site-header {
	display: flex;
	justify-content: space-around;
	
	border-bottom: 0.5px solid gray;
	
	@media (prefers-color-scheme: dark) {
		background-color: rgba(128, 128, 128, 0.1);
		border-bottom-color: transparent;
	}
	
	max-width: 80ch;
	margin-left: auto;
	margin-right: auto;
	
	.site-title {
		padding: 0.75rem;
		
		@media screen and (min-width: 80rem) {
			& {
				padding: 1.5rem;
			}
		}
	}

}

main > * {
	max-width: 80ch;
	margin-left: auto;
	margin-right: auto;
}