$system-ui-font-stack: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Lucida Grande", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$monospace-font-stack: monospace;

html {
	
	/* System fonts based on examples at https://css-tricks.com/snippets/css/system-font-stack/ with preferred use of the `system-ui` standard */
	--font-family-system-ui: #{inspect($system-ui-font-stack)};
	--font-family-monospace: #{inspect($monospace-font-stack)};
	
	font-family: var(--font-family-system-ui);
	
}

code {
	font-family: var(--font-family-monospace);
}

pre {
	font-family: var(--font-family-monospace);
}


h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
}

p:not([class]) {
	line-height: 1.66;
}


.site-header .site-title {
	font-weight: 300;
	
}

.all-files {
	text-decoration: none;
	text-rendering: optimizeLegibility;
	font-weight: 500;
	
	&:hover {
		text-decoration: underline;
	}
}

.license-display {
	font-size: small;
	
	.license-name {
		font-weight: bold;
	}
	
	details:not([open]) summary, details[open] summary {
		cursor: help;
	}
	
	details:not([open]) summary::after, details[open] summary::after {
		color: gray;
	}
	
}