---
layout: default
---

<article class="thing">
	<section class="thing-readme">
		{{ content }}
	</section>
	
	<section class="thing-info">
		
		<p>
			{%- assign download-all-url = page.zip_url | default: site.zip_url | default: site.github.zip_url -%}
			{% if download-all-url %}<a class="all-files download-all" href="{{ download-all-url }}">Download all files</a>{% endif %}
			
			<br />
			
			{%- assign source-repo-url = page.repo_url | default: site.repo_url | default: site.github.repository_url -%}
			{% if source-repo-url %}<a class="all-files view-source{% if site.github %} github-repo{% endif %}" href="{{ source-repo-url }}">View source{% if site.github %} on GitHub{% endif %}</a>{% endif %}
		</p>

		{% include license-display.html %}
		
		{%- capture page_url -%}{{ page.path | relative_url }}{%- endcapture -%}
		
		<ul class="thing-file-list">
		{%- assign sorted_files = site.static_files | sort: "extname" -%}
		{%- for file in sorted_files -%}
			{%- capture file_url -%}{{ file.path | relative_url }}{%- endcapture -%}
			{%- if file_url contains page.dir and file_url != page_url -%}
				{%- unless file.extname == ".jpg" or file.extname == ".jpeg" or file.extname == ".png" or file.extname == ".gif" or file.extname == ".usdz" -%}
					<li>
						{%- if file.extname == ".stl" or file.extname == ".amf" or file.extname == ".3mf" -%}
						{%- for image in site.static_files -%}
							{%- capture image_url -%}{{ image.path | relative_url }}{%- endcapture -%}
							{%- if image.basename == file.basename and image_url contains page.dir and image_url != page_url -%}
								{%- if image.extname == ".jpg" or image.extname == ".jpeg" or image.extname == ".png" or image.extname == ".gif" -%}
									
									
									{%- for usdz_file in site.static_files -%}
										{%- capture usdz_file_url -%}{{ usdz_file.path | relative_url }}{%- endcapture -%}
										{%- if usdz_file.extname == ".usdz" and usdz_file_url contains page.dir and usdz_file_url != page_url -%}
											{%- if usdz_file.basename == file.basename -%}
											<img data-ar-fp="{{usdz_file.path}}" src="{{image.path}}" alt="Rendering of {{file.name}}" />
											{%- assign image_ar = true -%}
											{%- break -%}
											{%- endif -%}
										{%- endif -%}
									{%- endfor -%}
									
									{% unless image_ar %}<img src="{{image.path}}" alt="Rendering of {{file.name}}" />{% endunless %}
									
								{%- break -%}
								{%- endif -%}
							{%- endif -%}
						{%- endfor -%}
						{%- endif -%}
						
						<a href="{{file.path}}">
							{{file.basename}}
							<span class="file-extension-label">{{file.extname | remove_first: "."}}</span>
						</a>
					</li>
				{%- endunless -%}
			{%- endif -%}
		{%- endfor -%}
		</ul>
		
	</section>
</article>
