---
layout: default
---

{{ content }}

{%- capture page_url -%}{{ page.path | relative_url }}{%- endcapture -%}

<ul class="thing-file-list">
{%- for file in site.static_files -%}
	{%- capture file_url -%}{{ file.path | relative_url }}{%- endcapture -%}
	{%- if file.path contains page.dir and file_url != page_url -%}
		{%- unless file.extname == ".jpg" or file.extname == ".jpeg" or file.extname == ".png" or file.extname == ".gif" or file.extname == ".usdz" -%}
			<li>
				<a href="{{file.path}}">
					{{file.basename}}
					<span class="file-extension-label">{{file.extname | remove_first: "."}}</span>
				</a><br>
			</li>
		{%- endunless -%}
	{%- endif -%}
{%- endfor -%}
</ul>

<ul class="thing-images">
	{%- for file in site.static_files -%}
	{%- capture file_url -%}{{ file.path | relative_url }}{%- endcapture -%}
	{%- if file.path contains page.dir and file_url != page_url -%}
		{%- if file.extname == ".jpg" or file.extname == ".jpeg" or file.extname == ".png" or file.extname == ".gif" -%}
			<li>
				<img src="{{file.path}}">
			</li>
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}
</ul>
